<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Transcriber</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <div th:replace="/includes/navbar :: navbar"> </div>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Let's transcribe!</h1>
            <p>Extract text from any audio and video files using the "Transcriber" service.</p>

            <form method="post" th:action="@{/demo}" enctype="multipart/form-data" sec:authorize="!isAuthenticated()">
              <div class="input-group is-invalid">
                <div class="custom-file">
                  <input type="file" name="file" class="custom-file-input" id="validatedInputGroupCustomFile" required>
                  <label class="custom-file-label" for="validatedInputGroupCustomFile">Choose file...</label>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="submit">Demo</button>
                </div>
              </div>
            </form>

          <form method="post" th:action="@{/recognize}" enctype="multipart/form-data" sec:authorize="isAuthenticated()">
            <div class="input-group is-invalid">
              <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="validatedInputGroupCustomFile1" required>
                <label class="custom-file-label" for="validatedInputGroupCustomFile1">Choose file...</label>
              </div>
              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit">Recognize</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Select a file</h2>
            <p>On the main page, you can use the demo features of the platform. It is limited to a file size of 1 megabyte.</p>
          </div>
          <div class="col-md-4">
            <h2>Get a transcript</h2>
            <p>After uploading the file, you will be taken to the transcript page where you will see the status of the process and the text that was extracted from the audio or video file.</p>
          </div>
          <div class="col-md-4">
            <h2>Join us</h2>
            <p>Register on the site to use all the features of the service. You will be able to upload files of large volumes, as well as get access to the transcript history.</p>
            <p><a class="btn btn-secondary" href="/register" role="button">Register &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <div th:replace="/includes/footer :: footer"> </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>
